body
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
body:after
{
   background-color: #000000;
   content: "";
   height: 100vh;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: -1;
}
.visibility-hidden
{
   visibility: hidden;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
{
   #wb_welcome
   {
      background-attachment: scroll !important;
   }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)
{
   #wb_welcome
   {
      background-attachment: scroll !important;
   }
}
#wb_header
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_welcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url('../images/stages.gif');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#welcome
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 75px 0 75px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#welcome > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 200px;
   padding-left: 200px;
   position: relative;
}
#welcome > .col-1
{
   flex: 0 0 auto;
}
#welcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#welcome > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#welcome-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #000000;
   opacity: 0.5;
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/stars-bg.jpg');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: background-position-top-left 10000ms linear 0ms infinite normal both;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 100px 15px 100px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid8 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #292929;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_welcomeText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 75px 50px 75px 50px;
   margin: 0;
   text-align: center;
}
#wb_welcomeText
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: 400;
   font-size: 21px;
   line-height: 24.5px;
}
#wb_welcomeText p, #wb_welcomeText ul
{
   margin: 0;
   padding: 0;
}
#wb_welcomeText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#upStickyLayer
{
   background-color: #3588F0;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_upIcon:hover #upIcon i
{
   color: #007BFF;
}
#wb_reviews
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#reviews
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#reviews > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#reviews > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#reviews > .row > .col-1
{
   float: left;
}
#reviews > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#reviews > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#reviews:before,
#reviews:after,
#reviews .row:before,
#reviews .row:after
{
   display: table;
   content: " ";
}
#reviews:after,
#reviews .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#reviews > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#welcomeButton
{
   box-sizing: border-box;
   line-height: 31px;
   text-decoration: none;
   vertical-align: top;
   border: 0px solid #3588F0;
   border-radius: 4px;
   background-color: #3588F0;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 6px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#welcomeButton:focus
{
   outline: 0;
}
#wb_MegaMenu1
{
   z-index: 1111 !important;
}
#MegaMenu1
{
   font-size: 0;
   list-style: none;
   margin: 0;
   padding: 0;
   margin: 0;
   text-align: center;
   font-family: Arial;
   font-weight: normal;
}
#MegaMenu1 li
{
   display: inline-block;
   font-size: 15px;
   margin: 0;
   padding: 0;
   position: relative;
}
#MegaMenu1 li a
{
   float: left;
}
#MegaMenu1 li .submenu
{
   position: absolute;
   right: 0;
   display: none;
   padding: 15px 15px 15px 15px;
   text-align: left;
   top: 0;
   z-index: 9999;
}
#MegaMenu1 li .submenu.show
{
   display: grid;
}
#MegaMenu1 li .submenu ul
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#MegaMenu1 .submenu ul li
{
   width: 100%;
}
#MegaMenu1 .submenu ul li .heading
{
   display: block;
   color: #3588F0;
   font-weight: bold;
   font-size: 0;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-decoration: none;
   text-transform: none;
   white-space: nowrap;
}
#MegaMenu1 .submenu ul li a
{
   display: block;
   float: none;
   height: auto;
   border: 1px solid transparent;
   color: inherit;
   font-weight: normal;
   font-style: normal;
   padding: 8px 4px 8px 20px;
   text-decoration: none;
   text-transform: none;
   text-indent: 0;
   white-space: nowrap;
}
#MegaMenu1 .button
{
   cursor: pointer;
   position: relative;
   text-align: center;
   margin: 0 1px 0 0;
   outline: 0;
   padding: 6px 20px 6px 10px;
   color: #FFFFFF;
   background-color: #000000;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
}
#MegaMenu1 .button:hover, #MegaMenu1 .button.active
{
   background-color: #3588F0;
   background-image: none;
   border-color: #3588F0;
   color: #FFFFFF;
}
#MegaMenu1 .submenu
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
   color: #FFFFFF;
}
#MegaMenu1 .submenu a:hover, #MegaMenu1 .submenu a.active
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #000000;
   color: #FFFFFF;
}
#MegaMenu1 li i
{
   font-size: 16px;
   width: 18px;
}
#MegaMenu1 .arrow
{
   margin-top: -8px;
   margin-left: 0;
   position: absolute;
   right: 4px;
   top: 50%;
   display: block;
   overflow: hidden;
   width: 16px;
   height: 16px;
}
#MegaMenu1 .bullet, #MegaMenu1 .icon
{
   left: 0px;
   margin-top: -8px;
   position: absolute;
   top: 50%;
   display: block;
   overflow: hidden;
   width: 16px;
   height: 16px;
}
#MegaMenu1-hamburger
{
   cursor: pointer;
   display: none;
   background-color: #000000;
   border: 1px solid #000000;
   padding: 5px 12px 6px 12px;
}
#MegaMenu1-hamburger .line
{
   width: 24px;
   height: 4px;
   background: #FFFFFF;
   display: block;
   margin: 4px auto;
}
#MegaMenu1-close
{
   display: none;
}
@media all and (max-width:600px) 
{
#MegaMenu1-hamburger
{
   display: inline-block;
}
#MegaMenu1 > li
{
   width: 100%;
}
#MegaMenu1 > li > a
{
   display: none;
}
#MegaMenu1-nav
{
   display: none;
   height: 100% !important;
   left: 0 !important;
   overflow-y: auto;
   position: fixed !important;
   top: 0 !important;
   width: 100% !important;
   z-index: 9998;
}
#MegaMenu1
{
   height: 100% !important;
   width: 100% !important;
}
#MegaMenu1 > li > div
{
   box-sizing: border-box;
   border-width: 0 0 1px 0 !important;
   display: inline-block !important;
   float: none;
   position: static !important;
   width: 100% !important;
}
#MegaMenu1 li .submenu ul, #MegaMenu1 li .submenu ul li
{
   width: 100% !important;
}
##MegaMenu1 .nav-link
{
   box-sizing: border-box;
   display: inline-block !important;
   float: none;
   position: static !important;
   width: 100% !important;
   padding: 9px 5px 9px 21px;
   text-align: left;
}
#MegaMenu1-close
{
   display: block;
   left: 0;
   pointer-events: none;
   position: fixed;
   text-align: right;
   top: 0;
   width: 100%;
   z-index: 9999;
}
#MegaMenu1-close a
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   font-weight: bold;
   padding: 10px 40px 10px 10px;
   pointer-events: all;
   text-decoration: none;
}
#wb_MegaMenu1.open
{
   z-index: 9998 !important
}
#wb_MegaMenu1.open #MegaMenu1-nav
{
   display: block !important;
}
.overflow-no-scroll
{
   overflow: hidden !important;
}
}
#privacyPopup
{
   margin-top: 30px;
   margin-bottom: 20px;
}
#privacyPopup .modal-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   border-radius: 0px;
   overflow: visible;
   pointer-events: all;
}
#privacyPopup.fade
{
   opacity: 1;
   transition: all 800ms linear;
}
#privacyPopup .animate-show
{
   animation-duration: 800ms;
   animation-fill-mode: both;
   animation-name: transform-bounce-in-down;
}
#privacyPopup .animate-hide
{
   animation-duration: 800ms;
   animation-fill-mode: both;
   animation-name: transform-bounce-in-up;
   animation-direction: reverse;
}
#privacyPopup.modal
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 9999;
   display: none;
   overflow: hidden;
   -webkit-overflow-scrolling: touch;
   outline: 0;
}
#privacyPopup .modal-open .modal
{
   overflow-x: hidden;
   overflow-y: auto;
}
#privacyPopup .modal-open
{
   overflow: hidden;
}
#privacyPopup .modal-dialog
{
   position: relative;
   width: 716px;
   margin-left: auto;
   margin-right: auto;
}
#privacyPopup .modal-content
{
   position: relative;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   outline: 0;
}
#privacyPopup .modal-header
{
   padding: 10px 10px 10px 10px;
   background-color: #FFFFFF;
   border-bottom: 1px solid #FFFFFF;
}
#privacyPopup .modal-footer
{
   padding: 10px 10px 10px 10px;
   border-top: 1px solid #FFFFFF;
}
#privacyPopup .modal-body
{
   position: relative;
   width: 716px;
}
#privacyPopup .close
{
   float: right;
   font-size: 21px;
   font-weight: 700;
   line-height: 1;
   color: #FFFFFF;
   text-shadow: 0px 1px 0px #fff;
   opacity: 0.5;
   -webkit-appearance: none;
   padding: 0;
   cursor: pointer;
   background: 0 0;
   border: 0;
   margin-top: -2px;
}
.modal-backdrop
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1040;
   background-color: #000;
}
.modal-backdrop.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.modal-backdrop.show
{
   opacity: 0.5 !important;
}
.modal-open
{
   overflow: hidden;
}
#privacyPopup .modal-dialog-centered
{
   display: flex;
   align-items: center;
   margin: 1.75rem auto;
   min-height: calc(100% - 3.5rem);
   pointer-events: none;
}
#privacyPopup .modal-dialog-centered::before
{
   display: block;
   height: calc(100vh - 3.5rem);
   content: "";
}
#privacyPopup .modal-title
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-align: left;
   margin: 0;
}
#privacyPopup .modal-body
{
   box-sizing: border-box;
   font-size: 0;
   padding: 16px 16px 16px 16px;
   text-align: center;
}
#wb_privacyHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 20px 0;
   text-align: center;
}
#privacyHeading
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
}
#wb_privacyText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 50px 0 50px;
   margin: 0 0 25px 0 ;
   text-align: left;
}
#wb_privacyText div
{
   text-align: left;
}
#wb_privacyText
{
   display: block;
   margin: 0 0 25px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#privacyButton
{
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   background-color: #368BD6;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
   padding: 1px 1px 4px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#privacyButton:focus
{
   outline: 0;
}
#privacyLine
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 20px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_privacyCheckBox
{
   margin: 6px 4px 8px 4px;
}
#wb_privacyCheckBox
{
   position: relative;
}
#wb_privacyCheckBox, #wb_privacyCheckBox *, #wb_privacyCheckBox *::before, #wb_privacyCheckBox *::after
{
   box-sizing: border-box;
}
#wb_privacyCheckBox input[type='checkbox']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
}
#wb_privacyCheckBox label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_privacyCheckBox label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#wb_privacyCheckBox label::after
{
   display: inline-block;
   position: absolute;
   width: 13px;
   height: 13px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 13px;
}
#wb_privacyCheckBox input[type='checkbox']:checked + label::after
{
   content: " ";
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%2052%2052%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M48%2013%20C49%2014%2c%2049%2015%2c%2049%2015%20C49%2016%2c%2049%2017%2c%2048%2017%20L27%2038%20L23%2042%20C23%2043%2c%2022%2043%2c%2021%2043%20C21%2043%2c%2020%2043%2c%2019%2042%20L15%2038%20L5%2028%20C4%2027%2c%204%2027%2c%204%2026%20C4%2025%2c%204%2024%2c%205%2024%20L9%2020%20C9%2019%2c%2010%2019%2c%2011%2019%20C12%2019%2c%2012%2019%2c%2013%2020%20L21%2029%20L40%209%20C41%209%2c%2042%209%2c%2042%209%20C43%209%2c%2044%209%2c%2044%209%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
   background-size: 80% 80%;
}
#wb_privacyCheckBox input[type='checkbox']:checked + label::before
{
   background-color: #3370B7;
   background-image: none;
   border-color: #3370B7;
}
#wb_privacyCheckBox input[type='checkbox']:focus + label::before
{
   outline: thin dotted;
}
#privacyLabel
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 0;
}
#privacyLabel:focus
{
   outline: 0;
}
